/* ******************************************
    =Style Guide

    Orange: #FC6D26
    Dark Orange: #E24329
    Light Orange: #FCA326

    Purple: #524485
    Light Purple: #6750b7

    Grey: #787878
    Dark Grey: #5C5C5C
    Light Grey: #A1A1A1

    Logomark Grey: #8C929D
****************************************** */

/* ******************************************
    =General Styles
****************************************** */
body {
    background: #6750b7;
    color: #333;
    font-family: Lato, 'Source Sans Pro', Roboto, sans-serif;
    font-weight: 100;
}

/* Override purple background so top of page shows white behind everything */
body:after {
    content: "";
    background: #fff;
    position: fixed;
    top: 0;
    bottom: 50%;
    right: 0;
    left: 0;
    content: " ";
    z-index: -1;
}

a {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

path {
    -webkit-transition: fill .4s ease;
    -moz-transition: fill .4s ease;
    -o-transition: fill .4s ease;
    transition: fill .4s ease;
}

a,
a:link,
a:visited,
a:hover {
    color: #FC6D26;
    text-decoration: none;
}

::-moz-selection {
    background: #FC6D26;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #FC6D26;
    color: #fff;
    text-shadow: none;
}

.button {
    background: #FC6D26;
    border: none;
    border-radius: .25em;
    color: #fff;
    font-size: 1em;
    font-weight: normal;
    line-height: 2.5em; /* 40px */
    padding: 0 1.875em; /* 0px 30px */
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.button:hover {
    background: #E24329;
}

/* ******************************************
    =Elastic Gutters
****************************************** */
.wrapper {
    padding: 0 .65em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
}

/* @media screen and (min-width: 500px) */
@media screen and ( min-width: 31.25em ) {
    .wrapper {
        padding: 0 1.25em;
    }
}

/* ******************************************
    =IE6-7 Elastic Gutters
    http://github.com/Schepp/box-sizing-polyfill
****************************************** */
.ie .wrapper {
    /* IE8 doesn't need this, so we use the * hack */
    *behavior: url("./ie/boxsizing.htc");
}

/********************************************
    =Fluid Media
********************************************/
figure {
    position: relative;
}

figure img,
figure object,
figure embed,
figure video {
    max-width: 100%;
    display: block;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/********************************************
    =Zoomable Baseline Grid
********************************************/
body {
    font-size: .875em; /* Zoomable baseline grid to 14px */
    line-height: 1.5em; /* 24px */
}

/* @media screen and ( min-width: 320px ) */
@media screen and ( min-width: 20em ) {
    body {
        font-size: 1em; /* Zoomable baseline grid to 16px */
    }
}

/* @media screen and ( min-width: 600px ) */
@media screen and ( min-width: 37.5em ) {
    body {
        font-size: 1.125em; /* Zoomable baseline grid to 18px */
    }
}

/* @media screen and ( min-width: 960px ) */
@media screen and ( min-width: 60em ) {
    body {
        font-size: 1.1875em; /* Zoomable baseline grid to 19px */
    }
}

p,
dt,
dd,
li {
    font-size: 1.125em; /* 18px */
}

h6 {
    font-size: 0.8125em; /* 13px */
    line-height: 1.3846153846153846em; /* 18px */
}

h5 {
    font-size: 1em; /* 16px */
    line-height: 1.125em; /* 18px */
}

h4 {
    font-size: 1.125em; /* 18px */
    line-height: 1.111111111em; /* 20px */
    font-weight: 100;
}

h3 {
    font-size: 1.25em; /* 20px */
    font-weight: normal;
    line-height: 1.15em; /* 23px */
}

h2 {
    font-size: 1.375em; /* 26px */
    font-weight: normal;
    line-height: 1.23076923076923em; /* 32px */
}

h1 {
    font-size: 1.625em; /* 26px */
    font-weight: 100;
    line-height: 1.115384615em; /* 29px */
}

/********************************************
    =Four Column Grid
********************************************/
.container {
    padding: 1em 2.555555555555555%;
}

/* @media screen and (min-width: 500px) */
@media screen and ( min-width: 31.25em ) {
    .container {
        padding: 2em 2.555555555555555%;
    }
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

h3,
h4 {
    margin: 0;
}

/********************************************
    =Page Header
********************************************/
.page-header {
    background: #fff;
    padding-top: .4em;
    padding-bottom: .25em;
}

.page-header a {
    display: inline-block; /* Make SVG clickable */
}

.logo {
    margin-top: 5px;
}

.logo svg {
    width: 90px;
}

/* @media screen and ( min-width: 760px ) */
@media screen and ( min-width: 47.5em ) {
    .logo svg {
        width: 120px;
    }
}

a.logo path.logo-text {
    fill: #8C929D;
    /* -webkit-transition: fill .4s ease;
    -moz-transition: fill .4s ease;
    -o-transition: fill .4s ease;
    transition: fill .4s ease; */
}

a.logo:hover path.logo-text {
    fill: #FC6D26;
}

/********************************************
    =Event Details
********************************************/
/* TODO: Cut background images based on height since we're using background-size:cover for tall areas */
.event {
    background: #FC6D26 url('../images/hero-xxlarge.jpg') no-repeat 50% 50%;
    background-size: cover;
}

/* HiDPI small screens */
@media all and ( -webkit-min-device-pixel-ratio: 2 ) and ( max-width: 374px ) {
    .event {
        background-image: url('../images/hero-xxlarge@2x.jpg');
    }
}

/* Low resolution screens above 1140px */
@media all and ( min-width: 1140px ) {
    .event {
        background-image: url('../images/hero-xxlarge.jpg');
    }
}

/* HiDPI screens above 960px */
@media all and ( -webkit-min-device-pixel-ratio: 2 ) and ( min-width: 1140px ) {
    .event {
        background-image: url('../images/hero-xxlarge@2x.jpg');
    }
}

/* Low resolution screens above 1440px */
@media all and ( min-width: 1440px ) {
    .event {
        background-image: url('../images/hero-xxxlarge.jpg');
    }
}

/* HiDPI screens above 960px */
@media all and ( -webkit-min-device-pixel-ratio: 2 ) and ( min-width: 1440px ) {
    .event {
        background-image: url('../images/hero-xxxlarge@2x.jpg');
    }
}

.event header.wrapper,
.event .details {
    color: #fff;
    text-shadow: 0px 2px 2px rgba( 0, 0, 0, 0.2 );
}

.event .group {
    margin: 0 auto;
    max-width: 1200px;
}

.event header dl {
    margin: 1em 0 1.5em;
}

.event header dt,
.event header dd {
    font-size: 1.15em;
    font-style: italic;
    font-weight: 100;
    margin-bottom: .15em;
}

.event header dd.jump-link {
    font-size: 1em;
    font-style: normal;
    margin-top: 1em;
    margin-bottom: 0;
    text-shadow: none;
}

.event header dd .button {
    background: #fff;
    display: inline-block;
    font-size: 1em;
    line-height: 2.5em; /* 40px */
}

.event header dd .button:hover {
    background: #FC6D26;
    color: #fff;
}

.event header dt em {
    font-style: normal;
}

.event .details h2,
.event .details h3 {
    margin-bottom: .5em;
}

.event .details h3 em {
    font-style: italic;
    font-weight: bold;
}

.event .details p {
    margin-bottom: .85em;
}

.event .details li {
    background: url('../images/icons/icon-bullet.png') no-repeat 0 .25em;
    background-size: 5px 10px;
    line-height: 1.2em;
    margin-bottom: .7em;
    padding-left: 12px;
}

/* @media screen and (min-width: 960px) */
@media screen and ( min-width: 60em ) {
    .event .details,
    .event .signup {
        float: left;
        width: 50%;
    }

    .event header dd.jump-link {
        display: none;
    }
}

/* @media screen and (min-width: 375px) */
@media screen and ( min-width: 23.4375em ) {
    .event h1 {
        font-size: 1.75em; /* 28px */
    }
}

/* @media screen and (min-width: 720px) */
@media screen and ( min-width: 45em ) {
    .event h1 {
        font-size: 2em; /* 32px */
    }

    .event header dt,
    .event header dd {
        font-size: 1.25em;
    }
}

/* @media screen and (min-width: 1120px) */
@media screen and ( min-width: 70em ) {
    .event .details {
        width: 60%;
    }

    .event .signup {
        width: 40%;
    }
}

/********************************************
    =Signup Form
********************************************/
.signup {
    margin-top: 1.5em;
}

.signup form {
    background: #fff;
    padding: 1.5em;
}

.signup h2 {
    font-weight: 100;
    margin-bottom: .75em;
}

.signup label {
    display: block;
}

.signup input[type="text"],
.signup input[type="email"] {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #5C5C5C;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: .85em;
    outline: none;
    padding: .5em .75em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    width: 100%;
}

.signup input[type="text"]:focus,
.signup input[type="email"]:focus {
    border-color: #FC6D26;
    box-shadow: 0 0 5px rgba( 252, 109, 38, 1 );
}

.signup input[type="text"].invalid,
.signup input[type="email"].invalid {
    border-color: #EA2727;
    box-shadow: 0 0 5px rgba( 234, 39, 39, 1 );
}

/* Form validation handled by JavaScript */
#error {
    color: #EA2727;
    font-size: 1em;
    font-weight: normal;
}

#error.active {
    margin-top: 1em;
}

/* Custom select input CSS */
.signup .custom-select {
    border: 1px solid #ccc;
    width: 100%;
    overflow: hidden;
    background: #f9f9f9 url("../images/icons/icon-select.png") no-repeat 97% 50%;
    background-size: 15px 8px;
}

.signup .custom-select select {
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    color: #5C5C5C;
    font-size: 1em;
    font-weight: 100;
    padding: .5em .75em;
    width: 130%;
    -webkit-appearance: none;
}

.signup .custom-select select:focus {
    outline: none;
}

.signup input.button {
    display: block;
    font-size: 1em;
    margin-top: 1em;
}

.signup .note {
    color: #787878;
    font-size: 1em; /* 16px */
    line-height: 1.25em; /* 20px */
    margin-top: 1em;
}

.signup .note a:hover {
    text-decoration: underline;
}

/* @media screen and (min-width: 760px) */
@media screen and ( min-width: 47.5em ) {
    .signup {
        margin-top: 0;
    }
}

/********************************************
    =Presenter(s)
********************************************/
.presenters {
    background: #f0f0f0;
    position: relative;
    z-index: 4;
}

.presenters header h2 {
    font-weight: 100;
    margin-bottom: 1em;
}

/* Use table display to vertically center content */
.presenter header {
    margin-bottom: 1.25em;
}

.presenter .avatar img {
    border-radius: 75px;
    height: 150px;
    margin-bottom: .5em;
    width: 150px;
}

.presenter a {
    color: #333;
}

.presenter a:hover {
    color: #FC6D26;
}

.presenter-name {
    margin: 0 .25em .25em 0;
}

.presenter-title {
    margin-bottom: .25em;
}

.presenter-location {
    background-image: url('../images/icons/icon-location.svg');
    background-position: -3px 50%;
    background-repeat: no-repeat;
    color: #787878;
    padding-left: 1em;
}

.presenter .presenter-name,
.user-profiles,
.user-profiles li {
    display: inline-block;
}

.user-profiles li {
    padding: 0 .5em 0 0;
}

.user-profiles a {
    display: inline-block; /* Make SVG clickable */
}

.user-profiles svg {
    width: 18px;
}

.user-profiles a.gitlab path {
    fill: #A1A1A1;
}

.user-profiles a.gitlab path.dark {
    fill: #5C5C5C;
}

.user-profiles a.gitlab path.normal {
    fill: #787878;
}

.user-profiles a.gitlab path.light {
    fill: #A1A1A1;
}

.user-profiles a.gitlab:hover path.dark {
    fill: #E24329;
}

.user-profiles a.gitlab:hover path.normal {
    fill: #FC6D26;
}

.user-profiles a.gitlab:hover path.light {
    fill: #FCA326;
}

.user-profiles a.twitter path {
    fill: #787878;
}

.user-profiles a.twitter:hover path {
    fill: #00a5ea;
}

/* @media screen and (min-width: 420px) */
@media screen and ( min-width: 26.25em ) {
    /* Use table display to vertically center content */
    .presenter header {
        display: table;
        margin-bottom: 1.25em;
    }

    .presenter-details,
    .presenter .avatar {
        display: table-cell;
        vertical-align: middle;
    }

    .presenter .avatar img {
        border-radius: 50px;
        height: 100px;
        margin-bottom: 0;
        width: 100px;
    }

    .presenter-details {
        padding-left: 1.25em;
    }
}

/* @media screen and (min-width: 600px) */
@media screen and ( min-width: 37.5em ) {
    .presenter .avatar img {
        border-radius: 75px;
        height: 150px;
        width: 150px;
    }
}
/********************************************
    =Promo
********************************************/
.promo {
    background: #fff;
    padding-bottom: 65px;
}

.promo .wrapper {
    max-width: 760px;
    text-align: center;
}

.promo header {
    bottom: 0;
    margin-bottom: -105px;
    position: relative;
    -webkit-transition: bottom .4s ease;
    -moz-transition: bottom .4s ease;
    -o-transition: bottom .4s ease;
    transition: bottom .4s ease;
    z-index: 5;
}

.promo:hover header {
    bottom: 70px;
}

.promo .screenshot img {
    height: auto;
    max-width: 100%;
    width: 384px;
}

.promo article.wrapper {
    background: transparent url("../images/gradient-white.png") repeat-x 0 0;
    background-size: 1px 120px;
    padding-top: 50px;
    position: relative;
    z-index: 10;
}

.promo h2 {
    color: #5C5C5C;
    font-weight: 100;
    margin-bottom: .5em;
}

.promo p {
    color: #787878;
    font-size: 1em;
}

.promo .button {
    background: transparent;
    border: 1px solid #FC6D26;
    color: #FC6D26;
    display: inline-block;
    margin-top: 1em;
}

.promo .button:hover {
    background: #FC6D26;
    border-color: #FC6D26;
    color: #fff;
}

/* @media screen and (min-width: 330px) */
@media screen and ( min-width: 20.625em ) {
    .promo header {
        margin-bottom: -110px;
    }
}

/* @media screen and (min-width: 365px) */
@media screen and ( min-width: 22.8125em ) {
    .promo header {
        margin-bottom: -120px;
    }
}

/* @media screen and (min-width: 420px) */
@media screen and ( min-width: 26.25em ) {
    .promo header {
        margin-bottom: -125px;
    }
}

/********************************************
    =Footer
********************************************/
.page-footer {
    background: #6750b7;
    color: #fff;
    text-align: center;
}

.page-footer .container {
    padding-top: 0px;
}

.page-footer svg {
    margin: -36px 0 5px;
    width: 65px;
}

.page-footer h3 {
    font-size: .9375em; /* 15px */
}

.page-footer p {
    font-size: .875em; /* 14px */
    margin-bottom: 1em;
}

.page-footer a {
    color: #AD97F9;
}

.page-footer a:hover {
    color: #DCD3F8;
}

/********************************************
    =Extras
********************************************/
ul,
li {
    list-style: none;
}

/* Make SVG object clickable with this...
a.svg {
    display: inline-block;
    position: relative;
}

a.svg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

OR this...

object {
    pointer-events: none;
}
*/

.visually-hidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

/* ******************************************
    =Float Clearing
****************************************** */
.group:after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

/* ******************************************
    =Web Fonts
****************************************** */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-light.woff2') format('woff2'),
         url('../fonts/lato-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-lightitalic.woff2') format('woff2'),
         url('../fonts/lato-lightitalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular.woff2') format('woff2'),
         url('../fonts/lato-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bold.woff2') format('woff2'),
         url('../fonts/lato-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bolditalic.woff2') format('woff2'),
         url('../fonts/lato-bolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
